# python is programming language
# pytest is a testing freamwork which is developed by python


# To install python in mac:
# ==========================
# command:
# brew install python

# # 3. Create a project folder
# mkdir personal-skills
# cd personal-skills

# # 4. Create a virtual environment
# python3 -m venv .venv

# # 5. Activate the virtual environment
# source .venv/bin/activate

# # 6. Upgrade pip
# python3 -m pip install --upgrade pip

# To install below on pip: 
# command: python3 -m pip install -r requirements.txt
# ===========================
playwright
pytest
pytest-playwright
pytest-html
pytest-xdist
python-dotenv

# To Finally, install the Playwright browsers:
# command: python3 -m playwright install